* {
    font-family: Work Sans;
    padding: 0;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

#gamer {
    color: #FF42A5;
}

.head {
    display: flex;
    width: 50px;
    height: 20px;
    align-items: center;
    gap: 20px;
}

.head-title {
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
}

header nav ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
}


.nav {
    align-items: center;
}

.Follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;

    color: #3C354F;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
}

.nav li {
    color: #3C354F;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
}


/* banner1 styles */
.banner1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



#goat {
    background-image: url(images/Group\ 14.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-top: 50px;


}

.banner1-play {
    color: #0B0223;
    padding-left: 160px;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.banner1-goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 30px;
    padding-left: 160px;
    font-size: 5.93rem;
    font-weight: 800;
}

.banner1 div ul {
    color: #534C64;
    font-size: 1.7rem;
    font-weight: 500;

}

.banner1>div ul li {
    padding-bottom: 50px;
    padding-left: 140px;
}

#btn1 {
    padding: 15px 30px;
    background-color: #F948B2;
    border-radius: 48px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}

#btn2 {
    padding: 15px 30px;
    background-color: skyblue;
    color: aliceblue;
    border-radius: 48px;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
}

.btn-div {
    padding-left: 150px;
    padding-top: 50px;
}

/* banner2 styles */

.banner2 {
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner2-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner2 div p {
    width: 520px;
    font-size: 1.12rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.btn3 {
    padding: 20px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.banner2 div h4,
p {
    color: gray;
}

/* banner3 style */

.banner3 {
    text-align: center;
    margin-top: 50px;
}

.banner3-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

#funn {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    margin-bottom: 150px;
}

.card {
    position: relative;
    max-width: 342px;
    width: 100%;
    margin-bottom: 30px;

}

.card-img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .3s ease 1s;
    backface-visibility: hidden;
}

.card:hover .card-img {
    opacity: 0.3;
}

.middle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 95%;
    width: 95%;
    opacity: 0;
    transition: .3s ease 1s;
    border: 10px solid palevioletred;
    border-radius: 5px;
}

.middle p {
    color: #FF42A5;
    text-align: center;
    font-size: 2rem;
}

.card:hover .middle {
    opacity: 1;
}

.icon {
    color: rgb(222, 10, 162);
    font-size: 100px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-area p {
    text-align: left;
}


/* Banner 4 section style */
.banner4 {
    display: flex;
    text-align: right;
    align-items: center;
    margin-left: 100px;
    justify-content: space-around;
}

.banner4-img {
    width: 710px;
    height: 650px;
    margin-right: 100px;
}

.banner4-title {
    font-size: 3rem;
    font-weight: 700;
}

.banner4-description {
    width: 353px;
    font-size: 1.125rem;
    font-weight: 400;
}

#instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.removed-img {
    width: 318px;
    height: 365px;
    position: relative;
    right: 500px;
    bottom: 300px;
}


/* section5 OR last section */
.options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.option-img {
    padding-left: 50px;
    text-align: center;
}

.games-option:hover {
    border: 5px solid palevioletred;
    color: #F948B2;
}

.games-option:hover .option-title {
    color: #F948B2;
}

.games-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
    gap: 10px;
}




.option-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
}

/* footer related styles */
footer{
    background-color: #0B0223;
}
footer li {
    list-style: none;
}
#gamer1{
    color: white;
}
.footer-head {
    display: flex;
    color: white;
}
.story-list{
    color: white;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}
footer nav>li,
p {
    color: white;
}

/* for mobile phone of small devices */
@media screen and (max-width:576px) {

    header,
    .nav {
        flex-direction: column;
    }

    .head {
        margin-right: 210px;
        margin-top: 50px;
    }

    .nav>li {
        margin-top: 38px;
    }

    .banner1 {
        flex-direction: column-reverse;

        margin-bottom: 50px;
        text-align: start;
    }

    #goat {
        max-width: 100%;
        height: auto;
    }

    .banner1-play {
        font-size: 2rem;
        font-weight: 600;
        padding-left: 10px;
        /* width: 80%; */
    }

    .banner1-goat {
        font-size: 2.6rem;
        font-weight: 600;
        padding-left: 10px;
        /* width: 80%; */
    }



    .banner1>div ul li {
        padding: 10px;
        font-size: 1rem;
        /* width: 80%; */
    }

    .btn-div {
        padding: 5px;
        font-size: .2rem;
    }



    .banner2 {
        flex-direction: column;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .banner2-title {
        font-size: 1.5rem;
        font-weight: 700;
        padding-right: 10px;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner2 div p {
        width: 300px;
    }

    .banner2 img {
        width: 300px;
    }



    .btn3 {
        font-size: medium;
    }

    .box-card {
        flex-direction: column;
    }

    .banner4 {
        flex-direction: column;
        margin-left: 0;
    }


    .banner4-title {
        padding-bottom: 30px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .banner4-description {
        padding-bottom: 30px;
        width: 300px;
        font-size: .81rem;
        font-weight: 400;
    }



    .banner4-img {
        max-width: 300px;
        height: 300px;
        margin-right: 10px;
    }

    .removed-img {
        position: absolute;
        right: 180px;
        top: 4220px;
        width: 170px;
        height: 170px;
    }

    .options {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;

    }

    .games-option {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .option-title {
        font-size: .5rem;
    }

    .option-img {
        width: 30px;
        height: 30px;
        padding-left: 0;
    }
}




/* for tab or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {

    header,
    .banner2 {
        flex-direction: column;
    }

    .banner1 {
        flex-direction: column-reverse;
    }

    #goat {
        width: 100%;
        height: auto;
    }

    .banner2 {
        flex-direction: column;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .banner2 img {
        max-width: 700px;
    }

    .banner2-title {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .head {
        margin-right: 150px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .box-card {
        margin-left: 10px;
        margin-right: 10px;

    }

    .middle {
        border: 5px solid palevioletred;
    }

    .banner4 {
        flex-direction: column;
        margin-left: 10px;
    }

    .banner4-img {
        margin-left: 10px;
        margin-right: 10px;

    }

    .banner4-title,
    .banner4-description {
        padding-bottom: 30px;
    }

    .removed-img {
        position: absolute;
        left: 20px;
        top: 3580px;
    }

    .options {
        grid-template-columns: repeat(3, 1fr);
    }

    .option-title {
        font-size: .9rem;
    }

    .option-img {
        padding-left: 5px;
    }

    .games-option {
        padding: 5px;
        margin-right: 0px;
    }
}